/* Custom properties representing colors for the portfolio section headings */

:root {
  --heading-color: #523029;
  --heading-bg-color: rgba(160,82,45,.1);
}

html {
  background: url(images/forest.jpg) center/100% no-repeat fixed;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  height: 100%;
}

body {
  height: 100%;
}

/* Previous and next background buttons */

#prev-button,
#next-button {
  background: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  outline: none;
  text-align: center;
}

#next-button {
  float: right;
}

#content {
  background: rgba(255,255,255,.45);
  margin: 0 auto;
  padding: 0 0 30px;
  width: 40%;
}

#fact-container {
  margin: 20px 8px 0;
}

h1 {
  background:whitesmoke;
  width: 100%;
}

h2 {
  background: var(--heading-bg-color);
  color: var(--heading-color);
  padding: 0 5px;
}

h3, 
h4, 
p {
  margin: 0;
  padding: 0 5px;
}

ul {
  margin: 0 0 1em;
}

/* GitHub and LinkedIn Icons */

#profiles {
  float: right;
  font-size: 36px;
  margin: 1px 5px 1px;
  text-align: right;
  text-decoration: none;
}

.fa-github, 
.fa-github:visited {
  color: black;
}

.fa-linkedin, 
.fa-linkedin:visited {
  color: #0072b1;
}

/* Comments Section */

#post-comment {
  background: rgba(255,255,255,.4);
  padding: 5px;
}

#post-comment textarea {
  height: 5vh;
  width: 50%;
}

.comments-label {
  margin: 0px 10px;
}

#author-label {
  margin: 0 22px;
}

#submit-comment {
  margin: 0 90px;
}

#max-comments {
  width: 40px;
}

#comments-container {
  padding: 8px;
}

#comments-container div {
  background: rgba(255,255,255,.6);
  border: solid 1px black;
  margin: 20px 0;
  padding: 3px;
}

#comments-container div p:first-child {
  color: gray;
  float: right;
}

#delete-comments {
  background: red;
  border: none;
  color: white;
  display: block;
  font-size: 14px;
  margin: auto;
  outline: none;
  padding: 4px;
}